a.text-lowercase{
  display:block;
  text-align:center;
  color:white;
}

.profile-pic{
  display:block;
  margin:auto;
  background:transparent;
}

p.fix-text{
  display:block;
  border:2px solid #ffcc00;
  background:transparent;
  color:white;
  text-align:left;
}

span.right-text{
  display:block;
  text-align:right;
  color:white;
  background:transparent;
}

button.btn.btn-default{
  background-color:#d3d3d3;
  border:none;
  color:black;
  padding:16px 20px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:16px;
  margin-right:auto;
  transition-duration:0.4s;
  cursor:pointer;
}

button.btn.btn-default:hover{
  background-color:#dcd7d7;
  color:rgb(255,255,256);
}

div.show{
  background:transparent;
}

body{
  background:transparent;
}

