
img.picture-delivery-order{
	max-height: 194px;
	max-width: 156px;
	padding: 0px;
	margin-left: 30px;
	margin-bottom: 50px
}

p.text1-delivery-order{
	color: #FFBC49 !important;
	font-size: 22px !important;
	margin-right: 40px;
	text-align: left;

}

p.textN-delivery-order{
	color: white !important;
	font-size: 18px !important;
	text-align: left;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #FFBC49;
    background-color: #282626;
    color: white;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none !important;
}


ul.dropdown-menu {

  border: 1px solid #FFBC49 !important;
  background: #282626 !important;
  width: 100px;
  font-size: 14px;

}

button.cancel_order_button{
	font-family: 'Glacial Indifference';
	font-size: 10px;
	border-color: #FFBC49;
	background-color: #282626;
	color: #FFBC49 !important;
	margin-top: 10px;
	padding: 2px 5px;
	border-radius: 24px;
	margin-right: 10px;
	display: box;
	box-align: end;

}

button.sent-button {
	font-family: 'Glacial Indifference';
	font-size: 14px;
	border-color: #FFBC49;
	background-color: #282626;
	color: #FFBC49 !important;
	margin-top: 10px;
	padding: 8px 16px;
	border-radius: 24px;
	margin-right: 10px;
  display: block;
}

.register-form .custom-form .input-column input{
  color:#282626;
  box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding:12px;
  border:1px solid #dbdbdb;
  border-radius:2px;
  height:42px;
}


.md-form {
  position: relative;
  margin-bottom: 1.5rem; }
  .md-form label {
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    color: #757575;
    position: absolute;
    top: 0.8rem;
    left: 0;
    font-size: 1rem;
    cursor: text; }
    .md-form label.active {
      -webkit-transform: translateY(-140%);
      -ms-transform: translateY(-140%);
      transform: translateY(-140%);
      font-size: 0.8rem; }
  .md-form .prefix {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    position: absolute;
    width: 3rem;
    font-size: 2rem; }
    .md-form .prefix ~ input, .md-form .prefix ~ textarea {
      margin-left: 3rem;
      width: 92%;
      width: -webkit-calc(100% - 3rem);
      width: calc(100% - 3rem); }
    .md-form .prefix ~ textarea {
      padding-top: .8rem; }
    .md-form .prefix ~ label {
      margin-left: 3rem; }
    .md-form .prefix.active {
      color: #4285F4; }
  @media only screen and (max-width: 992px) {
    .md-form .prefix ~ input {
      width: 86%;
      width: -webkit-calc(100% - 3rem);
      width: calc(100% - 3rem); } }
  @media only screen and (max-width: 600px) {
    .md-form .prefix ~ input {
      width: 80%;
      width: -webkit-calc(100% - 3rem);
      width: calc(100% - 3rem); } }
  .md-form .btn {
    margin-bottom: 1.5rem; }
  .md-form.form-sm input {
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    font-size: 0.8rem;
    line-height: 0.5; }
  .md-form.form-sm label {
    font-size: 0.9rem; }
  .md-form.form-sm .prefix {
    font-size: 1.5rem;
    top: 0.4rem; }
  .md-form.form-sm .prefix ~ input, .md-form.form-sm .prefix ~ textarea, .md-form.form-sm .prefix ~ label {
    margin-left: 2.2rem; }
  .md-form.input-group {
    padding-left: 1rem; }
    .md-form.input-group::-webkit-input-placeholder {
      color: #999;
      padding-top: 2px; }
    .md-form.input-group:-moz-placeholder {
      color: #999;
      padding-top: 2px; }
    .md-form.input-group::-moz-placeholder {
      color: #999;
      padding-top: 2px; }
    .md-form.input-group::-ms-placeholder {
      color: #999;
      padding-top: 2px; }
    .md-form.input-group::-webkit-input-placeholder {
      color: #999;
      padding-top: 2px; }
    .md-form.input-group::-moz-placeholder {
      color: #999;
      padding-top: 2px; }
    .md-form.input-group:-ms-input-placeholder {
      color: #999;
      padding-top: 2px; }
    .md-form.input-group::placeholder {
      color: #999;
      padding-top: 2px; }
