{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} | {{product.name}}{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/product_view.css' %}">
    <link rel="stylesheet" href="{% static 'css/myproduct.css' %}">
{% endblock %}

{% block title_content1 %}{{product.name}}{%endblock%}
{% block content1 %}
        <form action="{% url 'myproduct:delete' product.id %}" method="post">
            {% csrf_token %}
            <div class="col-md-12">
                <p>Do you wanna delete this product?</p>
                <img class="picture-preview" src="/media/{{product.picture_path}}">
                <p>if you delete this product, all of this product transection will be deleted</p>
                <p class="buy">
                    <input name="delete" type="submit" class="btn btn-warning" value="Yes!"/>
                    <a name="white" class="btn" href="{% url 'myproduct:update' product.id %}">No</a>
                </p>
            </div>
        </form>

{% endblock %}
{% block title_content2 %}Product Transection{% endblock %}
{% block content2 %}
    {% for transection in transections %}
        <img class="picture-preview" src="/media/{{transection.product.picture_path}}">

    {% endfor %}
{% endblock %}
