{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container post">
    <div class="row">
        <div class="col-md-6 post-title">
            <h1>About Us</h1>
            <p class="author"><strong>Author : BarClothes</strong> </p>
        </div>
        <div class="col-md-6 col-md-offset-0 post-body">
            <p>BarClothes.com is a huge online shopping store that provide you to grab new attractive costumes every day.</p>
            <p>For example, shirts, pants, dresses, and skirts. We provide many worldwide brand names to facilitate for you by clicking on our website.</p>
        </div>
    </div>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}
