{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container post">
    <div class="row">
        <div class="col-md-6 post-title">
            <h1>Contact Us</h1>
        </div>
        <div class="col-md-6 col-md-offset-0 post-body">
            <p>You can contact us at</p>
            <p>Tel : 086-662-5526</p>

        </div>
    </div>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}
