{% extends 'base.html' %}
{% load staticfiles %}
<title>{% block title %}Profile{% endblock %}</title>

{% block stylesheet %}
	<link rel="stylesheet" href="{% static 'css/profile.css'%}">
	<link rel="stylesheet" href="{% static 'css/myproduct.css' %}">
	
{% endblock %}

{% block title_content1 %}Profile{% endblock %}

{% block content1 %}
<body class="profile">	
	<div class="container-fluid">
		<form action="{% url 'user_profile:profile' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="profile-page">
				<div class="row">
					<div class="col-md-6">
						<div class="edit-profile">
							<div class="show">
								<div class="image-profile">
									<img src="/media/{{user_extend.picture}}" class="profile-pic"/>
								</div>

								<div class="file-upload-wrapper">
									<input type="file" name="picture" id="id_picture_path" class="file-upload-native" accept="image/*" />
									<input type="text" disabled placeholder="change picture" class="file-upload-text" />
								</div>

							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="edit-text">
							<div class="edit-text-div2">
								<span class="fix-edit-text2">Username</span>
								<div class="fix-text"><span class="fix-text">{{ user.username }}</span></div>
							</div>

							<div class="edit-text-div2">
								<span class="fix-edit-text2">Citizen ID</span>
								<div class="fix-text2"><span class="fix-text">{{user_extend.id_num}}</span></div>
							</div>

							<div class="edit-text-div">
								<span class="fix-edit-text"> FirstName </span>
								<div class="edit-input-text">
									{{ edit_profile_form.first_name }}
								</div>
								{{ edit_profile_form.first_name.errors }}
							</div>

							<div class="edit-text-div">
								<span class="fix-edit-text"> LastName </span>
								<div class="edit-input-text">
									{{ edit_profile_form.last_name }}
								</div>
								{{ edit_profile_form.last_name.errors }}
							</div>	

							<div class="edit-text-div">
								{{ edit_profile_form.tel_no.errors }}
								<span class="fix-edit-text">Phone no</span>
								<div class="edit-input-text">
									{{ edit_profile_form.tel_no }}
								</div>
							</div>

							<div class="edit-text-div">
								<span class="fix-edit-text">Email </span>
								<div class="edit-input-text">
									{{ edit_profile_form.email }}
								</div>
								{{ edit_profile_form.email.errors }}
							</div>

							<div class="edit-text-div">
								<span class="fix-edit-text">Address</span>
								{{ edit_profile_form.address.errors }}						
								<div class="edit-input-text">
									{{ edit_profile_form.address }}
								</div>
							</div>
							<div class="edit-text-div">
								<span class="fix-edit-text">Bank no</span>
								{{ edit_profile_form.bank_account.errors }}						
								<div class="edit-input-text">
									{{ edit_profile_form.bank_account }}
								</div>
							</div>
						</div>
						<div class="update-button">
							<button class="btn btn-default update-profile" type="submit" name="profile" value="profile">Update Profile</button>
						</div>
						<!-- <input value="{{ user_extend.address }}"> -->
					</div>
				</div>
			</div>
		</form>
		
	</div>
</body>
{% endblock %}
{% block no_title_content2 %}{% endblock %}