{% extends 'base.html' %}
{% load staticfiles %}
<!-- {% load profile_filter %} -->

<title>{% block title %}Profile{% endblock %}</title>

{% block stylesheet %}
	<link rel="stylesheet" href="{% static 'css/profile.css'%}">
{% endblock %}

{% block title_content1 %}Profile{% endblock %}

{% block content1 %}
<body class="profile">	
	<div class="container-fluid">
		<form action="{% url 'user_profile:profile' %}" method="POST">
			{% csrf_token %}
			<div class="profile-page">
				<div class="row">
					<div class="col-md-6">
						<div class="edit-profile">
							<div class="show">
								<div class="image-profile">
									<img src="{% static 'img/icon.png'%}" class="profile-pic">
								</div>
								<div class="pic-edit">
									<input type="file" accept="image/*" name="pic-input" class="edit-pic">
								</div>
								{% comment %} <div class="goto_change_pwd">
									<a href="{% url 'user_profile:change_password' %}" class="btn btn-default">Change Password</a>
								</div> {% endcomment %}
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="edit-text">
							<div class="edit-text-div">
								{{ edit_profile_form.username.errors }}
								<span class="fix-edit-text">Username</span>
								<div class="edit-input-text">
									{{ edit_profile_form.username }}
								</div>
							</div>

							<div class="edit-text-div">
								<span class="fix-edit-text"> FirstName </span>
								<div class="edit-input-text">
									{{ edit_profile_form.first_name }}
								</div>
								{{ edit_profile_form.first_name.errors }}
							</div>

							<div class="edit-text-div">
								<span class="fix-edit-text"> LastName </span>
								<div class="edit-input-text">
									{{ edit_profile_form.last_name }}
								</div>
								{{ edit_profile_form.last_name.errors }}
							</div>

							<div class="edit-text-div">
								<span class="fix-edit-text">Citizen ID</span>
								<div class="edit-input-text">
									{{ edit_profile_form.id_num }}
								</div>
								{{ edit_profile_form.id_num.errors }}
							</div>
								
							<div class="edit-text-div">
								{{ edit_profile_form.tel_no.errors }}
								<span class="fix-edit-text">Phone no</span>
								<div class="edit-input-text">
									{{ edit_profile_form.tel_no }}
								</div>
							</div>

							<div class="edit-text-div">
								<span class="fix-edit-text">Email </span>
								<div class="edit-input-text">
									{{ edit_profile_form.email }}
								</div>
								{{ edit_profile_form.email.errors }}
							</div>

							<div class="edit-text-div">
								<span class="fix-edit-text">Address</span>
								{{ edit_profile_form.address.errors }}						
								<div class="edit-input-text">
									{{ edit_profile_form.address }}
								</div>
							</div>
						</div>

						<div class="update-button">
							<button class="btn btn-default update-profile" type="submit" name="profile" value="profile">Update Profile</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		{% comment %} <div class="row">
			<div class="update-button">
				<a href="{% url 'user_profile:change_password' %}" class="btn btn-default update-profile ">Change Password</a>
			</div>	
		</div> {% endcomment %}
	</div>
	<!-- <script src="{% static 'javascript/jquery.min.js' %}"></script>
	<script src="{% static 'javascript/bootstrap.min.js' %}"></script> -->
	
</body>
{% endblock %}
{% block no_title_content2 %}{% endblock %}