{% extends 'base.html' %}
{% load staticfiles %}

{% load profile_filter %}

<title>{% block title %}Profile{% endblock %}</title>

{% block stylesheet %}
	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block title_content1 %}Change Password{% endblock %}


{% block content1 %}
<body class="profile">        
    <form action="{% url 'user_profile:change_password' %}" method="POST">
    {% csrf_token %}
        <div class="pass-page">
            <div class="edit-password">
                <div class="pass-block"><span class="pass-text">Old Password</span>
                    <div class="pass-input1">
                        {{ password_change_form.old_password | addclass_type:'input-pass,password'}}
                        <!-- <input type="password" class="input-pass"> -->
                    </div>
                    {{ password_change_form.old_password.errors }}                    
                </div>

                <div class="pass-block"><span class="pass-text">New Password</span>
                    <div class="pass-input2">
                        <!-- <input type="password" class="input-pass"> -->
                        {{ password_change_form.new_password1 | addclass_type:'input-pass,password'}}
                    </div>
                    {{ password_change_form.new_password1.errors }}
                </div>

                <div class="pass-block"><span class="pass-text">Confirm Password</span>
                    <div class="pass-input3">
                        <!-- <input type="password" class="input-pass"> -->
                        {{ password_change_form.new_password2 | addclass_type:'input-pass,password'}}
                    </div>
                    {{ password_change_form.new_password2.errors }}                    
                </div>
            </div>

            <div class="change_password_button update-button-pass ">
                <button class="btn btn-default update-profile change_password_button" type="submit" name="password_change_form" value="password_change_form">Save Changes</button>
            </div>
        </div>
    </form>
</body>
{% endblock %}
{% block no_title_content2 %}{% endblock %}