div.edit-text{
  margin-bottom:20px;
}

span.edit-text-min{
  color:white;
  font-size:20px;
  display:inline;
}

div.edit-input-text{
  display:inline;
}

div.normal_font{
  color:white;
  font-size:20px;
}

.link-topup {
  color:white;
  font-size:25px;
}

.form-price{
  background-color: #282626;
  color: white;
  border: none;
  border-bottom: 1px solid #ffbc49;
  width: 180px;
  text-align-last: center;
}