.product-page{
    padding-top: 30px;
    padding-bottom: 30px;
}

.imgage {
    width: 100%
}

.text {
    width: 100%
}

.text h5 {
    color: #ffbc49;
}

.product-image {
    width: 100%;
    margin-bottom: 10px;
}

.product {
    margin-bottom: 25px;
}

.paging {
    width: 100%;
}