.home-title{
    color: #ffffff
}

.product-image1{
    max-height: 350px;
    margin: 20px;
}
 
.product-image2{
     max-height: 300px;
     margin-top: 50px;
}

.product-image2_2{
    max-height: 300px;
    margin-top: 139px;
}

.product-image3{
    max-height: 200px;
    margin: 15px;
}

.sponser{
    max-width: 100%;
    max-height: 140px;
    margin: 70px auto;
    border: groove
}

.first{
    display: -webkit-inline-box;
}