.carousel{
    background: #cf952d;
    margin-top: 80px; /* after navbar */
}
.carousel .item{
    min-height: 100px; 
    max-height: 450px;
}
.carousel .item img{
    margin: 0 auto;
}
.bs-example{
    margin: 20px;
}
.carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
}