.form-main{
    width: 400px;
    line-height: 1.428571429;
    text-align: center;
    text-align-last: center;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border: 0px solid rgba(0, 0, 0, 0);    
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: .3s ease;
}

input:focus, select:focus, option:focus, option, option:hover{
	outline:none;
	border-color:rgba(0, 0, 0, 0);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
option:-webkit-autofill,
option:-webkit-autofill:hover, 
option:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  outline:none;
	border-color:rgba(0, 0, 0, 0);
}

select, select:focus, select:hover{
  background-color: #282626;
  color: white;
  border-color: #ffbc49;
  width: 100px;
  border-radius: 4px;
}

option:hover{
  color: #ffbc49;
}

input[name=amount], input[name=price]{
  background-color: #282626;
  color: white;
  border: none;
  border-bottom: 1px solid #ffbc49;
  width: 100px;
  text-align-last: center;
}

input[name=buy]:hover, input[name=buy]:focus{
  color: white;
}

input[name=name]{
  width: 400px;
  line-height: 1.428571429;
  text-align: center;
  text-align-last: center;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  border: 0px solid rgba(0, 0, 0, 0);    
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: .3s ease;
}

/* tags */
input[type=search]{
  color: #ffffff;
}

.select2-container--default .select2-selection--multiple{
  width: 100px;
  max-height: 100px;
  overflow: overlay;
  background-color: rgba(0, 0, 0, 0); 
  border-color: #ffbc49;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
  color: #ffffff;
  border: #ffbc49;
  background-color: #ffbc49;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
  color: #282626;
}

.select2-container{
  width: 200px;
  color: #ffbc49;
}

/* scrollbar */
.select2-container--default .select2-selection--multiple::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0);
}

.select2-container--default .select2-selection--multiple::-webkit-scrollbar
{
	width: 10px;
	background-color: rgba(0, 0, 0, 0);
}

.select2-container--default .select2-selection--multiple::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	background-color: #555;
}


/* remove blue text */
a[name=black], a[name=black]:hover, a[name=black]:focus{
  color:#282626;
}

a[name=white], a[name=white]:hover, a[name=white]:focus{
  color: #ffffff;
}

input[name=delete]{
  color: #282626;
}

textarea[name=detail]{
  max-width: 100%;
}

div[name=yellow]{
  color:#ffbc49;
}

p[name=left]{
  text-align: left;
}