.well{
  min-height:1px;
  padding:15px;
  margin-bottom:20px;
  background-color:#f5f5f5;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
}
span.fix-text{
  width:300px;
  color:white;
  margin-left:2px;
}
div.fix-text2{
  display:inline;
  margin-left:20px;
}
div.fix-text{
  display:inline;
  width:100%;
  margin-left:20px;
}

.profile-pic{
  display:block;
  margin:auto;
  background:transparent;
  width:300px;
  height:300px;
  margin-left:20px;
}



div.show{
  background:transparent;
  display:inline-block;
  width:inherit; 
  margin-top: 35px;
}


div.profile{
  
  background:transparent;
  display:inline-flex;
  margin-top:20px;
  width:1000px;
}

body.profile{
  background:transparent;
}


input.edit-pic{
  width:90px;
  margin:auto;
  margin-top:5px;
}



div.edit-text{
  margin-top:50px;
  display:inline-block;
  
}

span.fix-edit-text{
  color:white;
  display:inline;
}

span.fix-edit-text2{
  color:white;
  
}



div.edit-text-div{
  margin-bottom:20px;
}

input.input-edit-text-bank{
  margin-left:30px;
  width:300px;
  border-bottom:2px solid #ed8b1a;
  background:transparent;
  border-left:transparent;
  border-right:transparent;
  color:gray;
  border-top:transparent;
}
div.edit-text-div2{
  margin-bottom:20px;
  text-align: left;
}

input.input-edit-text-1{
  margin-left:20px;
  width:300px;
  border-bottom:2px solid #ed8b1a;
  background:transparent;
  border-left:transparent;
  border-right:transparent;
  color:gray;
  border-top:transparent;
}

input.input-email{
  margin-left:120px;
  background:transparent;
  width:300px;
  color:gray;
  border-top:transparent;
  border-bottom:2px solid #ed8b1a;
  border-left:transparent;
  border-right:transparent;
}

input.input-edit-text-3{
  margin-left:30px;
  width:300px;
  background:transparent;
  border-bottom-color:#ed8b1a;
  border-top:transparent;
  border-left:transparent;
  border-right:transparent;
  color:gray;
}

div.update-button{
  padding-top:40px;
  margin:auto;
  width:140px;
}

button.btn.btn-default.update-profile{
  background:transparent;
  color:#ed8b1a;
  border-radius:12px;
  border:2px solid;
  padding:20px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:16px;
  margin:4px 2px;
  cursor:pointer;
}

button.btn.btn-default.update-profile:hover{
  color:white;
}

div.edit-profile{
  background:transparent;
  margin-bottom:20px;
} 

div.profile-page{
  height:inherit;
}


div.image-profile{
  width:350px;
  margin:auto;
}

div.edit-input-text{
  display:inline;
}

input.input-edit-text4{
  margin-left:45px;
  width:300px;
  color:gray;
  background:transparent;
  border-bottom-color:#ed8b1a;
  border-top:transparent;
  border-left:transparent;
  border-right:transparent;
}


input.input-edit-text2{
  margin-left:22px;
  width:300px;
  color:gray;
  background:transparent;
  border-bottom-color:#ed8b1a;
  border-top:transparent;
  border-left:transparent;
  border-right:transparent;
}


.row {
  width: 100%;
}