img.edit_profile{
  display:block;
  margin:auto;
  margin-top:10px;
}

span.right-text-edit{
  display:block;
  text-align:right;
  margin-right:20px;
  color:white;
}

p.fix-left-text-edit{
  background:transparent;
  color:white;
  margin-left:10px;
}

div.edit_profile{
  background:transparent;
  width:1024px;
  margin:auto;
}

body.edit_profile{
  background:transparent;
}

p.edit-profile{
  color:white;
}

input.name-input-edit{
  position:fixed;
  right:20px;
  width:300px;
  display:block;
}

span.fullname-edit{
  color:white;
  position:fixed;
  left:10px;
}

span.birthday-edit{
  color:white;
  position:fixed;
  left:10px;
  border:10px solid transparent;
}

div.edit-profile{
  background:transparent;
  height:65px;
  border-bottom:2px solid #555555;
  margin-top:5px;
  margin-left:0px;
}

input.birthday-edit{
  margin-left:704px;
  width:300px;
  text-align:center;
}

div.edit-profile-user{
  border-left:6px solid white;
  border-bottom:2px solid white;
  border-top:10px solid transparent;
  margin-bottom:20px;
  margin-top:15px;
  margin-left:0px;
}

span.edit-profile{
  color:white;
  margin-left:10px;
  text-align:left;
}

input.text-input-edit{
  margin-left:704px;
  width:300px;
  display:inline-block;
}

div.space{
  border-bottom:20px solid transparent;
}

input.phoe-edit{
  margin-left:704px;
  width:300px;
}

input.e-mail-edit{
  margin-left:704px;
  width:300px;
}

p.id-edt{
  color:white;
  margin-left:10px;
  background:transparent;
}

button.btn.btn-default.save-profile{
  background:white;
  border:none;
  padding:10px 20px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  margin:4px 2px;
  margin-left:704px;
  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
  cursor:pointer;
  border:2px solid #e7e7e7;
}

button.btn.btn-default.cancel-profile{
  margin-left:100px;
  background:white;
  border:2px solid #e7e7e7;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
  cursor:pointer;
  padding:10px 20px;
}

button.btn.btn-default.save-profile:hover{
  background-color:#e7e7e7;
  color:white;
}

button.btn.btn-default.cancel-profile:hover{
  background-color:#e7e7e7;
}

a.btn.btn-default.save-profile{
  background:white;
  margin-left:780px;
  -webkit-transition-duration:0.4s;
  padding:10px 20px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  transition-duration:0.4s;
  cursor:pointer;
  border:2px solid #e7e7e7;
}

a.btn.btn-default.cancel-profile{
  background:white;
  margin-left:20px;
  border:2px solid #e7e7e7;
  -webkit-transition-duration:0.4s;
  display:inline-block;
  text-align:center;
  text-decoration:none;
  transition-duration:0.4s;
  cursor:pointer;
  padding:10px 20px;
}

a.btn.btn-primary.save-profile{
  margin-left:804px;
}

a.btn.btn-default.save-profile:hover{
  background:#e7e7e7;
  color:black;
}

span.edit-profile-km{
  background:transparent;
  color:white;
  margin-left:10px;
  margin-top:5px;
  text-align:left;
}

div.edit-text-left{
  margin-left:0px;
  text-align:left;
}

