{% extends 'base.html' %}

{% block title %} | Shop{% endblock %}
{% block no_title_content %}{% endblock %}

{% load staticfiles %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="{% static 'css/catalog.css' %}">
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}

{% block content %}
<div class="sidebar-page col-md-3" style="padding-left: 0px;">
  <h3 style="margin-top: 40px;">Search</h3>
  <div class="sidebar-list">
    <form id="search" class="searchbar row" method="get">
      <div style="margin-left: 36px; margin-top: 12px;">
        <label style="font-size: 18px; margin-top: 6px;" for="product_name">Product Name</label>
        <input style="margin-top: -12px; width: 190px; border: none;
                      border-bottom: 1px solid #FFBC49;
                      background-color: #282626;
                      color: white;
                      font-size: 14px;
                      outline: none;
                      -webkit-box-shadow: none;
                      -moz-box-shadow: none;
                      box-shadow: none !important;" type="text" value="{{default_product_name}}" id="product_name" name="product_name">
        <br>
        <label style="font-size: 18px; margin-top: 12px;" for="seller_name">Store</label>
        <input style="margin-top: -12px; width: 190px; border: none;
                      border-bottom: 1px solid #FFBC49;
                      background-color: #282626;
                      color: white;
                      font-size: 14px;
                      outline: none;
                      -webkit-box-shadow: none;
                      -moz-box-shadow: none;
                      box-shadow: none !important;" type="text" value="{{default_seller_name}}" id="seller_name" name="seller_name">
        <input type="hidden" name="submit_search" value="submit">
        <input class="sent-button" style="margin-top: 25px; margin-left: 58px; margin-bottom: 15px;
                      font-family: 'Glacial Indifference';
                      font-size: 14px;
                      border-color: #FFBC49;
                      background-color: #282626;
                      color: #FFBC49 !important;
                      padding: 8px 16px;
                      border-radius: 10px;
                      margin-right: 60px;" type="submit" value="Search!">
      </div>
    </form>
  </div>
  <p style="font-size: 24px; margin-top: 25px; margin-bottom: 16px;" class="sidebar-title">Category</p>
  <div class="sidebar-list" >
    <a href="/shop{{search_path}}"><p class="sidebar" style="font-size: 14px; height: 35px;">All</p></a>
    <a href="/shop/top{{search_path}}"><p class="sidebar" style="font-size: 14px; height: 35px;">Top</p></a>
    <a href="/shop/jacket{{search_path}}"><p class="sidebar" style="font-size: 14px; height: 35px;">Jacket </p></a>
    <a href="/shop/dress{{search_path}}"><p class="sidebar" style="font-size: 14px; height: 35px;">Dress </p></a>
    <a href="/shop/skirt{{search_path}}"><p class="sidebar" style="font-size: 14px; height: 35px;">Skirt </p></a>
    <a href="/shop/pants{{search_path}}"><p class="sidebar" style="font-size: 14px; height: 35px;">Pants </p></a>
    <a href="/shop/shorts{{search_path}}"><p class="sidebar" style="font-size: 14px; height: 35px;">Shorts </p></a>
    <a href="/shop/t-shirt{{search_path}}"><p class="sidebar" style="font-size: 14px; height: 35px;">T-shirt </p></a>
    <a href="/shop/suits{{search_path}}"><p class="sidebar" style="font-size: 14px; height: 35px;">Suits </p></a>
    <a href="/shop/bag{{search_path}}"><p class="sidebar" style="font-size: 14px; height: 35px;">Bag </p></a>
    <a href="/shop/shoes{{search_path}}"><p class="sidebar" style="font-size: 14px; height: 35px;">Shoes </p></a>
    <a href="/shop/accessory{{search_path}}"><p class="sidebar" style="font-size: 14px; height: 35px;">Accessory </p></a>
  </div>
  <p style="font-size: 24px; margin-top: 25px; margin-bottom: 16px;" class="sidebar-title">Tag</p>
  <div class="sidebar-list scrollbar" style="height: 350px; overflow: scroll;">
    {% for tag in tags%}
    <p class="sidebar" style="font-size: 14px; height: 35px;">{{tag.name}}</p>
    {% endfor %}
  </div>
</div>
<div class="product-page col-md-9">
  <form class="sortbar row" method="get" >
    <label for="sort" style="font-size: 16px;">Sort By :  </label>
    <select style="border: 1px
                   solid #FFBC49 !important;
                   background: #282626 !important;
                   width: 170px;
                   color: white;
                   font-size: 16px;"
                   form="search" id="sort" name="sort" onchange="this.form.submit();" >
      <option value="select">Select</option>
      {% if default_sort_type == "late" %}
      <option value="late" selected>Latest date first</option>
      {% else %}
      <option value="late">Latest date first</option>
      {% endif %}
      {% if default_sort_type == "old" %}
      <option value="old" selected>Oldest date first</option>
      {% else %}
      <option value="old">Oldest date first</option>
      {% endif %}
      {% if default_sort_type == "low" %}
      <option value="low" selected>Lowest price first</option>
      {% else %}
      <option value="low">Lowest price first</option>
      {% endif %}
      {% if default_sort_type == "high" %}
      <option value="high" selected>Highest price first</option>
      {% else %}
      <option value="high">Highest price first</option>
      {% endif %}
    </select>
    <input type="hidden" name="submit_search" value="submit">
  </form>
  <div class="product-row row" id="product_catalog">
    {% for product in all_product %}
    <a href="{% url 'product:view' product.id %}" class="buy">
      <div class="product col-md-4">
        <div class="product-image" style="height: 240px;">
          <span class="helper"></span><img style="height: 216px; width: 216px;" src="/media/{{product.picture_path}}">
        </div>
        <div class="product-text">
          <div class="product-title"><b>{{product.name}}</b></div>
          <div class="product-detail">
              <div class="product-date" style="white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis !important;">{{product.create_date|date:"d M Y"}}</div>
              <div class="product-price">{{product.price|floatformat:2}} ฿</div>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
<div class="paging">
  {% if page >= 1 and  page <= last_page %}
  {% if page|add:'-1' > 0 %}
  <a href="/shop{{type}}/{{page|add:'-1'}}{{search_path}}"><img src="{% static 'img/Previous-page.png' %}" style="padding-bottom: 4px;
        border-right-width: 30\;
        border-right-width: 30px;
        border-left-width: 30px;
        margin-right: 16px;
        margin-left: 16px;" ></a><span> </span>
  {% endif %}
  {% if page|add:'-4' >= 1 %}
  <a href="/shop{{type}}{{search_path}}"><button class="w3-button w3-large w3-circle w3-white" style="
        border-right-width: 30\;
        border-right-width: 30px;
        border-left-width: 30px;
        margin-right: 16px;
        margin-left: 16px;
    ">1</button></a><span> </span>
  {% endif %}
  {% if page|add:'-5' >= 1 %}
  <span><button class="w3-button w3-large w3-circle w3-white" style="
        border-right-width: 30\;
        border-right-width: 30px;
        border-left-width: 30px;
        margin-right: 16px;
        margin-left: 16px;
    ">... </button></span>
  {% endif %}
  {% if page|add:'-3' >= 1 %}
  <a href="/shop{{type}}/{{page|add:'-3'}}{{search_path}}"><button class="w3-button w3-large w3-circle w3-white" style="
        border-right-width: 30\;
        border-right-width: 30px;
        border-left-width: 30px;
        margin-right: 16px;
        margin-left: 16px;
    ">{{page|add:'-3'}}</button></a><span> </span>
  {% endif %}
  {% if page|add:'-2' >= 1 %}
  <a href="/shop{{type}}/{{page|add:'-2'}}{{search_path}}"><button class="w3-button w3-large w3-circle w3-white" style="
        border-right-width: 30\;
        border-right-width: 30px;
        border-left-width: 30px;
        margin-right: 16px;
        margin-left: 16px;
    ">{{page|add:'-2'}}</button></a><span> </span>
  {% endif %}
  {% if page|add:'-1' >= 1 %}
  <a href="/shop{{type}}/{{page|add:'-1'}}{{search_path}}"><button class="w3-button w3-large w3-circle w3-white" style="
        border-right-width: 30\;
        border-right-width: 30px;
        border-left-width: 30px;
        margin-right: 16px;
        margin-left: 16px;
    ">{{page|add:'-1'}}</button></a><span> </span>
  {% endif %}
  <span><button class="w3-button w3-large w3-circle" style="
      border-right-width: 30\;
      border-right-width: 30px;
      border-left-width: 30px;
      margin-right: 16px;
      margin-left: 16px;
      color: #000 !important;
      background-color: #ffbc49 !important; " >{{page}}</button> </span>
  {% if page|add:'1' <= last_page %}
  <a href="/shop{{type}}/{{page|add:'1'}}{{search_path}}"><button class="w3-button w3-large w3-circle w3-white" style="
        border-right-width: 30\;
        border-right-width: 30px;
        border-left-width: 30px;
        margin-right: 16px;
        margin-left: 16px;
    ">{{page|add:'1'}}</button></a><span> </span>
  {% endif %}
  {% if page|add:'2' <= last_page %}
  <a href="/shop{{type}}/{{page|add:'2'}}{{search_path}}"><button class="w3-button w3-large w3-circle w3-white" style="
        border-right-width: 30\;
        border-right-width: 30px;
        border-left-width: 30px;
        margin-right: 16px;
        margin-left: 16px;
    ">{{page|add:'2'}}</button></a><span> </span>
  {% endif %}
  {% if page|add:'3' <= last_page %}
  <a href="/shop{{type}}/{{page|add:'3'}}{{search_path}}"><button class="w3-button w3-large w3-circle w3-white" style="
        border-right-width: 30\;
        border-right-width: 30px;
        border-left-width: 30px;
        margin-right: 16px;
        margin-left: 16px;
    ">{{page|add:'3'}}</button></a><span> </span>
  {% endif %}
  {% if page|add:'5' <= last_page %}
  <span><button class="w3-button w3-large w3-circle w3-white" style="
        border-right-width: 30\;
        border-right-width: 30px;
        border-left-width: 30px;
        margin-right: 16px;
        margin-left: 16px;
    ">... </button></span>
  {% endif %}
  {% if page|add:'4' <= last_page %}
  <a href="/shop{{type}}/{{last_page}}{{search_path}}"><button class="w3-button w3-large w3-circle w3-white" style="
        border-right-width: 30\;
        border-right-width: 30px;
        border-left-width: 30px;
        margin-right: 16px;
        margin-left: 16px;
    ">{{last_page}}</button></a><span> </span>
  {% endif %}
  {% if page|add:'1' <= last_page %}
  <a href="/shop{{type}}/{{page|add:'1'}}{{search_path}}"><img src="{% static 'img/Next-page.png' %}" style="padding-bottom: 4px;
        border-right-width: 30\;
        border-right-width: 30px;
        border-left-width: 30px;
        margin-right: 16px;
        margin-left: 16px;"></a>
  {% endif %}
  {% endif %}
</div>
{% endblock %}
