{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/delivery_order.css' %}">
{% endblock %}

{% block title_content1 %}<div class="home-title">Unpaid Order</div>{% endblock %}

{% block content1 %}

  <div class="delivery_order">

        <img class="picture-delivery-order col-md-2" style="padding: 0px; margin-left: 30px" src="/static/img/home/BestSell/007.jpg" >

        <div class="col-md-2" style="margin-left: 30px; width:125px; padding: 0px;">

              <p class="text1-delivery-order" style="margin-right: 55px" >waiting</p>
              <p class="textN-delivery-order" style="margin-right: 20px">ProductName </p>
              <p class="textN-delivery-order" style="margin-right: 110px">Price </p>
              <p class="textN-delivery-order" style="margin-right: 120px">Slip </p>
              <button class="sent-button" type="submit" ip=Sent >Upload</button>
        </div>
        <div class="col-md-2" style="padding: 0px;">
        <div style="height: 10px; margin-bottom: 60px; margin-right: 80px;"> </div>
        </div>

  </div>

    <img class="picture-delivery-order col-md-2" style="padding: 0px; margin-left: 30px" src="/static/img/home/BestSell/008.jpg" >

        <div class="col-md-2" style="margin-left: 30px; width:125px; padding: 0px;">

          <p class="text1-delivery-order" style="margin-right: 55px" >checking</p>
          <p class="textN-delivery-order" style="margin-right: 20px">ProductName </p>
          <p class="textN-delivery-order" style="margin-right: 110px">Price </p>
          <p class="textN-delivery-order" style="margin-right: 120px">Slip </p>
          <button class="sent-button" type="submit" ip=Sent >Upload</button>
          path/to/slip.jpg
        </div>

        <!-- add -->
  <div class="col-md-12" style="height: 80px"> </div>
    <img class="picture-delivery-order col-md-2" style="padding: 0px; margin-left: 30px" src="/static/img/home/BestSell/009.jpg" >

      <div class="col-md-2" style="margin-left: 30px; width:125px; padding: 0px;">

        <p class="text1-delivery-order" style="margin-right: 55px" >checking</p>
        <p class="textN-delivery-order" style="margin-right: 20px">ProductName </p>
        <p class="textN-delivery-order" style="margin-right: 110px">Price </p>
        <p class="textN-delivery-order" style="margin-right: 120px">Slip </p>
        <button class="sent-button" type="submit" ip=Sent >Upload</button>
        path/to/slip.jpg
      </div>
      <div class="col-md-2" style="padding: 0px;">
        <div style="height: 10px; margin-bottom: 60px; margin-right: 80px;"> </div>
      </div>

    <img class="picture-delivery-order col-md-2" style="padding: 0px; margin-left: 30px" src="/static/img/home/BestSell/006.jpg" >

      <div class="col-md-2" style="margin-left: 30px; width:125px; padding: 0px;">

        <p class="text1-delivery-order" style="margin-right: 0px">fail, plase try again</p>
        <p class="textN-delivery-order" style="margin-right: 20px">ProductName </p>
        <p class="textN-delivery-order" style="margin-right: 110px">Price </p>
        <p class="textN-delivery-order" style="margin-right: 120px">Slip </p>
        <button class="sent-button" type="submit" ip=Sent >Upload</button>
        path/to/slip.jpg
      </div>
        <!-- end -->

{% endblock %}

{% block title_content2 %}<div class="home-title">Confirm</div>{% endblock %}

{% block content2 %}

{% endblock %}
