{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/activate_store.css'%}">
<link rel="stylesheet" href="{% static 'css/topup_transaction.css'%}">

<!-- CSS paste here-->
{% endblock %}

{% block title_content1 %}Top Up Transaction{% endblock %}

{% block content1%}

<div class="button-div">
		<a class="btn btn-default link-button pull-right" href="/activate_store/top_up">Top Up</a>
</div>

<div class="container">            
<table class="table">
	<thead>
		<tr>
			<th>ID</th>				
			<th>Date</th>
			<th>Time</th>			
			<th>Price</th>			
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		{% for topup in topups %}
			<tr>
				<td>{{ topup.pk }}</td>
				<td>{{ topup.date }}</td>
				<td>{{ topup.time }}</td>
				<td>{{ topup.price }}</td>
				<td>{{ topup.status }}</td>				
			</tr>
		{% endfor %}
	</tbody>
</table>

</div>
  
{% endblock %}
{% block no_title_content2 %}{% endblock %}
