{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} | About Us{% endblock %}
{% block stylesheet %}
    <link href="{% static 'css/contact-about.css' %}" rel="stylesheet">
{% endblock %}

{% block title_content1 %}How to use{% endblock %}

{% block content1 %}
    <div class="col-md-offset-0 post-body">
        <p>1. Customer press "Buy" button on website to confirm your order.</p>
        <p>2. After your purchase, your order status'll change to "Waiting for transfer money". If you don't transfer money to our company within 3 days, we'll cancel your order.</p>
        <p>3. Next, you'll take a photo of slip to confirm your transaction by upload it to our website within 24 hours.</p>
        <p>4. Administrator'll check your status and change status from "Waiting for Admin confirm" to "Waiting to shipping". At this state, you can't cancel your order.</p>
        <p>5. Sellers will give a tracking number and update status to "Sent". You'll wait your product within 3 to 5 days.</p>
    </div>
{% endblock %}

{% block title_content2 %}About Us{% endblock %}

{% block content2 %}
    <div class="col-md-offset-0 post-body">
        <p>BarClothes.com is a huge online shopping store that provide you to grab new attractive costumes every day.</p>
        <p>For example, shirts, pants, dresses, and skirts. We provide many worldwide brand names to facilitate for you by clicking on our website.</p>
    </div>
{% endblock %}
