{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheet %}
<link href="{% static 'css/contact-about.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container post contact-about-container">
    <div class="row">
        <div class="post-title contact-about-head">
            <h1 class="contact-about-title">About Us</h1>
            <p class="author"><strong>Author : BarClothes</strong> </p>
        </div>
        <div class="col-md-offset-0 post-body">
            <p>BarClothes.com is a huge online shopping store that provide you to grab new attractive costumes every day.</p>
            <p>For example, shirts, pants, dresses, and skirts. We provide many worldwide brand names to facilitate for you by clicking on our website.</p>
        </div>
    </div>
</div>
{% endblock %}
