{% load staticfiles %}

{% url 'home' as home %}

<footer>
    <a href="{% url 'home' %}"><img class="footer1-logo" src="{% static 'img/Footer1-Logo.png' %}"></a>
    <div>
        <a href="https://www.instagram.com/mixbeta" target="_blank"><img class="footer2-logo" src="{% static 'img/Footer2-IG.png' %}"></a>
        <a href="https://twitter.com/thecrimsonbike" target="_blank"><img class="footer2-logo" src="{% static 'img/Footer2-TW.png' %}"></a>
        <a href="https://www.facebook.com/jewjew.thanawat" target="_blank"><img class="footer2-logo" src="{% static 'img/Footer2-FB.png' %}"></a>
    </div>
</footer>