{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html
    <div>
        <div><strong class="cur-pas">Current Password</strong>
            <input type="password" class="input-cur-pass">
        </div><span> </span>
        <div><strong class="new-pass">New Password</strong>
            <input type="password" class="new-pass-input">
        </div><span> </span>
        <div><strong class="confirm-pass">Confirm Password</strong>
            <input type="password" class="new-pass-input">
        </div><span> </span>
        <div>
            <div class="btn-toolbar">
                <div class="btn-group" role="group">
                    <button class="btn btn-default" type="button" id="change-pass">change password</button>
                    <button class="btn btn-default" type="button" id="change-pass">cancel </button>
                </div>
            </div>
        </div><span> </span></div>
    <script src="{% static 'javascript/jquery_changepass_km.min.js' %}"></script>
    <script src="{% static 'javascript/bootstrap.min.js' %}"></script>

</html>
{% endblock %}