{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheet %}
    <link href="{% static 'css/home_main.css' %}" rel="stylesheet">
{% endblock %}

{% block title_content1 %}<div class="home-title">Interesting</div>{% endblock %}
{% block content1 %}
    <div class="row">      
        <div class="col-md-offset-0 post-body">
            <p>หากต้องการใช้พืี้นที่ตรงนี้(Head1)</p>
            <p>{/% block title_content1 %} ...Title... {/% endblock %} </p>
            <p>{/% block content1 %} ...content... {/% endblock %} </p>
            <p>:: หมายเหตุ หากไม่ใช้ Head2 ::</p>
            <p>แทรก {/% block no_title_content2 %}{/% endblock %} ด้วย</p>
        </div>
    </div>
{% endblock %}

{% block title_content2 %}<div class="home-title">Best Sell</div>{% endblock %}

{% block content2 %}
    <div class="row">      
        <div class="col-md-offset-0 post-body">
            <p>หากต้องการใช้พืี้นที่ตรงนี้(Head2)</p>
            <p>{/% block title_content2 %} ...Title... {/% endblock %} </p>
            <p>{/% block content2 %} ...content... {/% endblock %} </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">      
        <div class="col-md-offset-0 post-body">
            <p>หากไม่ใช้ทั้ง Head1,Head2</p>
            <p>แทรก {/% block no_title_content %}{/% endblock %} </p>
            <p>{/% block content %} ...content... {/% endblock %} </p>
        </div>
    </div>
{% endblock %}
