{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="bs-example">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>   
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item active">
                    <a href="#"><img src="{% static 'img/first.jpg' %}"  alt="First Slide"/></a>
                </div>
                <div class="item">
                    <a href="#"><img src="{% static 'img/second.jpg' %}"  alt="First Slide"/></a>
                </div>
                <div class="item">
                    <a href="#"><img src="{% static 'img/third.jpg' %}"  alt="First Slide"/></a>
                </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

    <style>
        .carousel{
            background: #718497;
            margin-top: 150px;
        }
        .carousel .item{
            min-height: 200px; /* Prevent carousel from being distorted if for some reason image doesn't load */
        }
        .carousel .item img{
            margin: 0 auto; /* Align slide image horizontally center */
        }
        .bs-example{
            margin: 20px;
        }
        .carousel-inner{
            position: relative;
            width: 100%;
            overflow: hidden;
        }
    </style>
{% endblock %}


{% block content2 %}
    <div class="row-VIPItems">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img src="{% static 'img/Homepage-VIPItems.png' %}">
        </div>
    </div>
    
    <div class="row-BestSell">
        <div class="col-md-7">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img src="{% static 'img/Homepage-BestSell.png' %}">
        </div>
    </div>
    <style>
        .row-VIPItems{
            margin-top: 80px;
        }
        .row-BestSell .col-md-5{
            margin-top: 100px;
            margin-bottom: 100px;
        }
        .row-BestSell .col-md-7{
            margin-top: 100px;
            margin-bottom: 100px;
        }
    </style>
{% endblock %}