{% load staticfiles %}

{% url 'home' as home %}

<img src="{% static 'img/mo-s-banner-1024x200.jpg' %}" width="1024px" height="220px">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-link" href="{#}"><img class="header-logo" src="{% static 'img/Header-Logo.png' %}"></a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="active" role="presentation"><a href="#">Shop</a></li>
                <li role="presentation"><a href="#">Store</a></li>
                <li role="presentation"><a href="#">About</a></li>
                <li role="presentation"><a href="#">Contact</a></li>
                <li role="presentation"><a class="nav-login" href="#">Log in/Sign up</a></li>
            </ul>
        </div>
    </div>
</nav>
