{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

#this is old catalog. not use. for back up only.

<div>
  <div class="img-with-text" >
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" hspace=35px>
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
    </div>
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" >
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
    </div>
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" hspace=35px>
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
      </div>
  </div>

  <div class="img-with-text">
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" hspace=35px>
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
    </div>
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" >
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
    </div>
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" hspace=35px>
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
      </div>
  </div>

  <div class="img-with-text">
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" hspace=35px>
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
    </div>
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" >
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
    </div>
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" hspace=35px>
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
      </div>
  </div>
  <div class="img-with-text">
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" hspace=35px>
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
    </div>
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" >
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
    </div>
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" hspace=35px>
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
      </div>
  </div>

  <div class="img-with-text">
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" hspace=35px>
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
    </div>
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" >
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
    </div>
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" hspace=35px>
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
      </div>
  </div>
  <div class="img-with-text">
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" hspace=35px>
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
    </div>
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" >
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
    </div>
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" hspace=35px>
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
      </div>
  </div>
  <div class="img-with-text">
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" hspace=35px>
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
    </div>
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" >
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
    </div>
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" hspace=35px>
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
      </div>
  </div>
  <div class="img-with-text">
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" hspace=35px>
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
    </div>
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" >
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
    </div>
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" hspace=35px>
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
      </div>
  </div>
  <div class="img-with-text">
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" hspace=35px>
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
    </div>
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" >
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
    </div>
    <div>
      <img src="{% static 'img/Catalog-minimize.jpg' %}" hspace=35px>
      <p>
        ProductName
        <Br>
        <h5>Price ฿</h5>
      </p>
      </div>
  </div>
    <img src="{% static 'img/Catalog-Carousel.jpg' %}" align="right">
</div>
{% endblock %}
