{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html>
<body class="profile">
    <div class="profile">
        <div class="show profile"><img src="{% static 'img/icon.png' %}" class="profile-pic"><a class="text-lowercase" href="edit">edit </a></div>
        <div class="block-left">
            <div class="left-text-fix"><span class="fix-left-text">User ID</span></div><span class="right-text">xxxxx</span></div>
        <div class="fix-right-text">
            <div class="left-text-fix"><span class="fix-right-text">Fullname </span></div><span class="right-text">miss Abc Def</span></div>
        <div class="block-left">
            <div class="left-text-fix"><span class="fix-left-text">Birthday </span></div><span class="right-text">dd/mm/yyyy </span></div>
        <div class="fix-right-text">
            <div class="left-text-fix"><span class="fix-right-text">Phone no.</span></div><span class="right-text">xxx-xxxxxxx </span></div>
        <div class="block-left">
            <div class="left-text-fix"><span class="fix-left-text">E-mail </span></div><span class="right-text">abc@xyz.com </span></div>
        <div class="fix-right-text">
            <div class="left-text-fix"><span class="fix-right-text">Identification no.</span></div><span class="right-text">1234567890123 </span></div><a href="change-password" class="change_password">Change password</a></div>
    <script src="{% static 'javascript/jquery.min.js' %}"></script>
    <script src="{% static 'javascript/bootstrap.min.js' %}"></script>
</body>

</html>
{% endblock %}