{% extends 'Signin_Signup.html' %}

{% block content %}
  <h2 style="color: White">Sign up</h2>
  <form method="post" style="color: White">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: White">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: Yellow">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button class="submit1" type="submit">Sign up</button>
  </form>
{% endblock %}
